<h1 class="m-5 text-3xl font-bold text-blue-700">Welcome to my app!</h1>
<ul>
  {{#if currentUser}}
    <li><a href="/{{currentUser.details.username}}">Go to your dashboard</a></li>
  {{else}}
    <li><a class="m-3 text-green-600" href="/user/signup">Sign up for an account</a></li>
  {{/if}}
</ul>

<div class="flex items-center justify-center">
  <div class="datepicker relative form-floating mb-3 xl:w-96" data-mdb-toggle-button="false">
    <input type="text"
      class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
      placeholder="Select a date" data-mdb-toggle="datepicker" />
    <label for="floatingInput" class="text-gray-700">Select a date</label>
  </div>
</div>