<body>
    <nav class="navbar">
        <div class="container">
            <div class="logo">Weekly Planner</div>
            <ul class="nav">
              {{#if currentUser}}
                <li><a href="/{{currentUser.details.username}}">Dashboard</a></li>
              {{else}}
                <li><a class="m-3 text-green-600" href="/user/signup">Sign up for an account</a></li>
              {{/if}}
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
<h1 class="m-5 text-3xl font-bold text-blue-700">Welcome to my app!</h1>
