<div>
  <body class="login__body">
    <div class="bg-grey-lighter min-h-screen flex flex-col">
        <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
          <div class="bg-amber-600 px-6 py-8 rounded shadow-md text-black w-full">

            <form action="" method="post">
              <h1 class="mb-8 text-3xl text-center">Log in</h1>

              <input type="text" class="block border border-amber-50 w-full p-3 mb-4 bg-amber-100" name="username" placeholder="Username"
                required>

              <input type="password" class="block border border-amber-50 w-full p-3 mb-4 bg-amber-100" name="password"
                placeholder="Password" required>

              <button type="submit"
                class="w-full text-center py-3 rounded bg-green hover:bg-green-dark focus:outline-none my-1">Log in</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>

