<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your App</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/_remake.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/theme.css">
</head>
<body>
  {{#if currentUser}}
    <a class="nav__button" href="/index">Logout</a>
  {{else}}
    <div class="container mx-auto overflow-hidden">
    <div class="flex items-center justify-between px-4 py-5">

      <div class="inline-block px-5 py-1 font-semibold bg-blue-100 rounded-full">
        <div class="flex flex-wrap items-center -m-1">
          <div class="w-auto p-1"><a class="text-sm" href="/user/index">&#x1F44B; Group 9</a></div>
        </div>
      </div>

      <!-- nav tag -->
      <div class="w-auto overflow-hidden inline-block px-5 py-1 font-semibold bg-blue-100 rounded-full">
        <div class="flex flex-wrap items-center">
          <div class="w-auto">
            <ul class="flex items-center mr-16">
              <li class="mr-9 font-medium hover:text-gray-700"><a href="#">About Us</a></li>
              <li class="mr-9 font-medium hover:text-gray-700"><a href="/user/login">Log In</a></li>
            </ul>
          </div>

          <!-- Get started button -->
          <div class="w-auto hidden lg:block">
            <div class="inline-block">
              <button class="py-3 px-5 w-full text-white font-semibold border border-indigo-700 rounded-xl focus:ring focus:ring-indigo-300 bg-indigo-600 hover:bg-indigo-700 transition ease-in-out duration-200" type="button">
                <a href="/user/signup">Sign Up</a> </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  {{/if}}
  {{!-- Show errors --}}
  {{#if flashErrors }}
    {{#each flashErrors }}
      <div>{{ this }}</div>
    {{/each}}
  {{/if}}
  {{!-- Show success messages --}}
  {{#if flashSuccesses }}
    {{#each flashSuccesses }}
      <div>{{ this }}</div>
    {{/each}}
  {{/if}}
  {{> yield }}
  {{#if isPageAuthor}}
    {{!-- Prevent loading the Remake framework if the page isn't editable --}}
    <script src="/assets/js/vendor/Sortable.min.js"></script>
    <script src="/assets/js/vendor/crostini.min.js"></script>
    <script src="/remake/js/remake.min.js"></script>
    <script src="/assets/js/remake-init.js"></script>
  {{/if}}
  <script src="/assets/js/main.js"></script>
</body>
</html>