@tailwind base;
@tailwind components;
@tailwind utilities;

.table { @apply text-black border-separate w-full shadow-md }
.table th { @apply bg-gray-700 text-white p-7 }
.table tr:nth-child(odd) { @apply bg-blue-300 text-white bg-opacity-90 }
.table tr:nth-child(even) { @apply bg-blue-300 text-blue-900 bg-opacity-95 }
.table td { @apply p-5 }

img{
	width: 100%;
}
.login {
    height: 1000px;
    width: 100%;
    background: #ffff;
    position: relative;
}
.login_box {
    display: flex;
    position: absolute;
    /* defines the box */
    width: 1050px;
    height: 600px;
    top: 50%;
    left: 50%;
    /* transform translate centers the box in the middle */
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    overflow: hidden;
}
.login_box .left{
  width: 35%;
  height: 100%;
  padding: 25px 25px;
  
}
.login_box .right{
  width: 65%;
  height: 100%  
}
.left .contact{
	display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 100%;
  width: 73%;
  margin: auto;
}
.left h3{
  text-align: center;
  margin-bottom: 40px;
}
.left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}
.left{
	background: linear-gradient(-95deg, #dcd7e0, #fff);
}
.submit {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 120px;
    background: #4338ca;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
}



.right {
	background: linear-gradient(212.38deg, rgba(25, 64, 169, 0.7) 0%, rgba(246, 243, 246, 0.71) 100%),url(https://th.bing.com/th/id/R.b66fa8b953f0c30192a9c58f58a7ec0c?rik=UD92R1yCl3vOnQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-qSGjEEnD8Vc%2fUI6Oxpn4qnI%2fAAAAAAAAMgI%2fcTrdNVzkK90%2fs1600%2fSnow%2bWallpapers%2b4.jpg&ehk=MOeVY7Vxq6CPsCwz2KpjjOvkiKHFACiAvOarS2w0Ybs%3d&risl=&pid=ImgRaw&r=0);
	color: #fff;
	position: relative;
}

.right .right-text{
  height: 100%;
  position: relative;
  transform: translate(0%, 45%);
}
.right-text h2{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}
.right-text h5{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
}


.top_link img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
}




