@tailwind base;
@tailwind components;
@tailwind utilities;

.table { @apply text-black border-separate w-full shadow-md }
.table th { @apply bg-gray-700 text-white p-7 }
.table tr:nth-child(odd) { @apply bg-blue-300 text-white bg-opacity-90 }
.table tr:nth-child(even) { @apply bg-blue-300 text-blue-900 bg-opacity-95 }
.table td { @apply p-5 }

.box {
    @apply
        bg-indigo-700
        text-gray-100
        min-w-full
        h-32
        min-h-full
        rounded;
}

.button {
    display: inline-block;
    background-color: #012be4c3;
    border-radius: 8px;
    border: 3px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 16px;
    padding: 8px;
    width: 180px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities;

.item {
    @apply 
        bg-indigo-700 
        text-gray-100 text-xl font-bold 
        flex items-center content-center justify-center rounded
} */

