@tailwind base;
@tailwind components;
@tailwind utilities;

.table { @apply text-black border-separate w-full shadow-md }
.table th { @apply bg-gray-700 text-white p-7 }
.table tr:nth-child(odd) { @apply bg-blue-300 text-white bg-opacity-90 }
.table tr:nth-child(even) { @apply bg-blue-300 text-blue-900 bg-opacity-95 }
.table td { @apply p-5 }


.login__body{
  background-image: url("https://th.bing.com/th/id/R.9e3853b0f2cbdacf4c5d0bb76b0ed5d2?rik=T1ojvQzoEGedPw&riu=http%3a%2f%2fwww.wallpaperbetter.com%2fwallpaper%2f633%2f335%2f708%2forange-sunset-drawing-1080P-wallpaper.jpg&ehk=OV%2bzAR1Z7l7XX7IybJwbFwFKnbQFLVEcjKQRjqMHYSc%3d&risl=&pid=ImgRaw&r=0");
  background-size: cover;
  background-repeat: no-repeat;
}

.signup__body{
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/308/861/non_2x/tropical-sunset-view-with-palm-trees-vector.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}

.navbar {
  background: #d97706;
  color: #fff;
  height: 60px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  color: lightblue;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}
